*{
    padding: 0;
    margin: 0 ;

}

header{
  background-image: url(../img/bg-sea\ \(1\).jpg);
  background-size: cover;
}

#icon{
    width: 150px;
    border: solid white;
    border-radius: 10px;
}

